In [1]:
from db_app.database import engine
import numpy as np
import pandas as pd
import seaborn as sns
import datetime as dt
import matplotlib.pyplot as plt
from catboost import CatBoostClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import roc_auc_score

In [2]:
user_data = pd.read_sql(
                        "SELECT * FROM public.user_data;",
                        con=engine,
                        index_col="user_id"
                        )
post_data = pd.read_sql(
                        "SELECT * FROM public.post_text_df;",
                        con=engine,
                        index_col="post_id"
                        )
feed_data = pd.read_sql(
                        "SELECT * FROM public.feed_data limit 10000;",
                        con=engine
                        )

In [3]:
user_data.head(10)

         gender  age country               city  exp_group       os source
user_id
200           1   34  Russia          Degtyarsk          3  Android    ads
201           0   37  Russia             Abakan          0  Android    ads
202           1   17  Russia           Smolensk          4  Android    ads
203           0   18  Russia             Moscow          1      iOS    ads
204           0   36  Russia  Anzhero-Sudzhensk          3  Android    ads
205           0   32  Russia         Dugulubgey          3  Android    ads
206           1   20  Russia            Kamenka          1  Android    ads
207           1   27  Russia            Groznyy          3      iOS    ads
208           1   17  Russia               Zima          1  Android    ads
209           0   17  Russia       Yuzhnouralsk          1  Android    ads

In [4]:
post_data.head(10)

                                                      text     topic
post_id
1        UK economy facing major risks\n\nThe UK manufa...  business
2        Aids and climate top Davos agenda\n\nClimate c...  business
3        Asian quake hits European shares\n\nShares in ...  business
4        India power shares jump on debut\n\nShares in ...  business
5        Lacroix label bought by US firm\n\nLuxury good...  business
6        Insurance bosses plead guilty\n\nAnother three...  business
14       Saudi investor picks up the Savoy\n\nLondons f...  business
2366     RACV | Annual cost of owning and maintaining a...     covid
7        Turkey-Iran mobile deal at risk\n\nTurkeys inv...  business
8        Parmalat to return to stockmarket\n\nParmalat,...  business

In [5]:
feed_data.head(10)

            timestamp  user_id  post_id action  target
0 2021-10-21 19:37:09   118420     1369   view       0
1 2021-10-21 19:37:59   118420     1093   view       0
2 2021-10-21 19:38:32   118420     2584   view       0
3 2021-10-21 19:39:46   118420     5355   view       0
4 2021-10-21 19:42:16   118420      838   view       0
5 2021-10-21 19:42:31   118420      948   view       0
6 2021-10-21 19:43:20   118420     6927   view       0
7 2021-10-21 19:45:40   118420     1888   view       0
8 2021-10-21 19:48:34   118420     4774   view       0
9 2021-10-21 19:50:09   118420     2450   view       0

In [6]:
data_joined = pd.merge(
                        left = feed_data,
                        right = user_data,
                        left_on="user_id",
                        right_on="user_id"
                       )
data_joined = pd.merge(
    left = data_joined,
    right = post_data,
    left_on="post_id",
    right_on="post_id"
)

In [7]:
data_joined.head(50)

,timestamp,user_id,post_id,action,target,gender,age,country,city,exp_group,os,source,text,topic
0,2021-10-21 19:37:09,118420,1369,view,0,0,41,Russia,Moscow,2,Android,organic,UKIP candidate suspended\n\nEurosceptic party ...,politics
1,2021-10-21 19:37:59,118420,1093,view,0,0,41,Russia,Moscow,2,Android,organic,Hitler row over Welsh arts cash\n\nAn artist c...,politics
2,2021-10-21 19:38:32,118420,2584,view,0,0,41,Russia,Moscow,2,Android,organic,Im thinking that many of the people who discou...,covid
3,2021-10-21 19:39:46,118420,5355,view,0,0,41,Russia,Moscow,2,Android,organic,I actually liked certain things about this gam...,movie
4,2021-10-21 19:42:16,118420,838,view,0,0,41,Russia,Moscow,2,Android,organic,Vera Drake leads UK Oscar hopes\n\nMike Leighs...,entertainment
5,2021-10-21 19:42:31,118420,948,view,0,0,41,Russia,Moscow,2,Android,organic,Blair moves to woo Jewish voters\n\nTony Blair...,politics
6,2021-10-21 19:43:20,118420,6927,view,0,0,41,Russia,Moscow,2,Android,organic,I just wanna say that amongst all the so-calle...,movie
7,2021-10-21 19:45:40,118420,1888,view,0,0,41,Russia,Moscow,2,Android,organic,Parry relishes Anfield challenge\n\nBBC Sport ...,sport
8,2021-10-21 19:48:34,118420,4774,view,0,0,41,Russia,Moscow,2,Android,organic,Lorna Green(Janine Reynaud)is a performance ar...,movie
9,2021-10-21 19:50:09,118420,2450,view,0,0,41,Russia,Moscow,2,Android,organic,Would you take a #Covid19 vaccine? Anti-vaxxer...,covid
10,2021-10-21 19:52:04,118420,299,view,0,0,41,Russia,Moscow,2,Android,organic,Golden rule boost for Chancellor\n\nChancellor...,business
11,2021-10-21 19:54:56,118420,1519,view,0,0,41,Russia,Moscow,2,Android,organic,Arsenal through on penalties\n\nArsenal win 4-...,sport
12,2021-10-21 19:56:54,118420,2542,view,0,0,41,Russia,Moscow,2,Android,organic,"Sure, right, of course we can’t spend anymore ...",covid
13,2021-10-21 19:57:14,118420,1309,view,1,0,41,Russia,Moscow,2,Android,organic,UK youth interested in politics\n\nThe majorit...,politics
14,2021-10-21 20:00:00,118420,1309,like,0,0,41,Russia,Moscow,2,Android,organic,UK youth interested in politics\n\nThe majorit...,politics
15,2021-10-21 20:00:02,118420,5718,view,0,0,41,Russia,Moscow,2,Android,organic,This movie had potential and I was willing to ...,movie
16,2021-10-22 15:36:29,118420,6449,view,0,0,41,Russia,Moscow,2,Android,organic,Our reviewer from Toronto told you what you ne...,movie
17,2021-10-22 15:39:01,118420,4579,view,0,0,41,Russia,Moscow,2,Android,organic,This movie is about a young scientist who crea...,movie
18,2021-10-22 15:40:44,118420,2227,view,0,0,41,Russia,Moscow,2,Android,organic,Robots learn robotiquette rules\n\nRobots are ...,tech
19,2021-10-22 15:42:27,118420,6912,view,0,0,41,Russia,Moscow,2,Android,organic,Plot Synopsis: Los Angeles in the future. Crim...,movie
20,2021-10-22 15:45:09,118420,5941,view,0,0,41,Russia,Moscow,2,Android,organic,"Yes, the movie was that boring and insipid. af...",movie
21,2021-10-22 15:47:19,118420,5649,view,0,0,41,Russia,Moscow,2,Android,organic,When I rented Domino I was expected it to be v...,movie
22,2021-10-22 15:47:59,118420,4619,view,0,0,41,Russia,Moscow,2,Android,organic,I mistakenly thought that this neo-noir effort...,movie
23,2021-10-22 15:50:35,118420,5171,view,0,0,41,Russia,Moscow,2,Android,organic,I normally have no problem walking away from a...,movie
24,2021-10-22 15:52:30,118420,1018,view,0,0,41,Russia,Moscow,2,Android,organic,Muslim police stops more likely\n\nUK Muslims ...,politics
25,2021-10-22 15:54:38,118420,6330,view,0,0,41,Russia,Moscow,2,Android,organic,Firstly I would like to point out that I only ...,movie
26,2021-10-22 15:57:15,118420,2478,view,0,0,41,Russia,Moscow,2,Android,organic,Thanks @CTVNews for this in-depth discussion o...,covid
27,2021-10-22 15:59:23,118420,2178,view,0,0,41,Russia,Moscow,2,Android,organic,Musicians upbeat about the net\n\nMusicians ar...,tech
28,2021-10-22 16:00:46,118420,1049,view,0,0,41,Russia,Moscow,2,Android,organic,TV debate urged for party chiefs\n\nBroadcaste...,politics
29,2021-10-22 16:03:36,118420,1436,view,0,0,41,Russia,Moscow,2,Android,organic,Brizzel to run AAAs in Sheffield\n\nBallymena ...,sport
30,2021-10-22 16:04:37,118420,634,view,0,0,41,Russia,Moscow,2,Android,organic,Triple triumph for Little Britain\n\nTop TV cu...,entertainment
31,2021-10-22 16:06:56,118420,2721,view,0,0,41,Russia,Moscow,2,Android,organic,#COVID19 crises in South Africa 🇿🇦 has become ...,covid
32,2021-10-22 16:07:20,118420,637,view,0,0,41,Russia,Moscow,2,Android,organic,Musical treatment for Capra film\n\nThe classi...,entertainment
33,2021-10-22 16:09:20,118420,5239,view,0,0,41,Russia,Moscow,2,Android,organic,This film is terrible. I was really looking fo...,movie
34,2021-10-22 16:10:11,118420,743,view,0,0,41,Russia,Moscow,2,Android,organic,Pop band Busted to take a break\n\nChart-toppi...,entertainment
35,2021-10-22 16:12:41,118420,7214,view,0,0,41,Russia,Moscow,2,Android,organic,"Mmm, doesnt a big stack of pancakes sound good...",movie
36,2021-10-22 16:14:14,118420,801,view,0,0,41,Russia,Moscow,2,Android,organic,Three DJs replace Peel radio show\n\nThe late ...,entertainment
37,2021-10-22 16:15:29,118420,6510,view,1,0,41,Russia,Moscow,2,Android,organic,"Errol Flynns greatest movie, not just a sports...",movie
38,2021-10-22 16:16:53,118420,6510,like,0,0,41,Russia,Moscow,2,Android,organic,"Errol Flynns greatest movie, not just a sports...",movie
39,2021-10-22 16:16:55,118420,508,view,1,0,41,Russia,Moscow,2,Android,organic,Japan economy slides to recession\n\nThe Japan...,business
40,2021-10-22 16:18:38,118420,508,like,0,0,41,Russia,Moscow,2,Android,organic,Japan economy slides to recession\n\nThe Japan...,business
41,2021-10-22 16:18:40,118420,2441,view,0,0,41,Russia,Moscow,2,Android,organic,I think its time we all change to delivery ord...,covid
42,2021-10-22 16:18:51,118420,2316,view,0,0,41,Russia,Moscow,2,Android,organic,Loyalty cards idea for TV addicts\n\nViewers c...,tech
43,2021-10-22 16:21:24,118420,3953,view,0,0,41,Russia,Moscow,2,Android,organic,7st 13lbs what jockey is ever gonna make that ...,covid
44,2021-10-25 14:56:34,118420,3649,view,0,0,41,Russia,Moscow,2,Android,organic,@btushar02 @SCBMCHCTC @CMO_Odisha @HFWOdisha @...,covid
45,2021-10-25 14:57:21,118420,6687,view,0,0,41,Russia,Moscow,2,Android,organic,"In all truth, this really isnt a movie so much...",movie
46,2021-10-25 14:57:52,118420,6913,view,0,0,41,Russia,Moscow,2,Android,organic,When I saw that this film was being aired on l...,movie
47,2021-10-25 14:58:29,118420,201,view,0,0,41,Russia,Moscow,2,Android,organic,WMC says Xstrata bid is too low\n\nAustralian ...,business
48,2021-10-25 14:58:42,118420,3088,view,0,0,41,Russia,Moscow,2,Android,organic,Madhya Pradesh: Priests offer prayers at Nagch...,covid
49,2021-10-25 15:00:15,118420,4323,view,0,0,41,Russia,Moscow,2,Android,organic,"Ingrid Bergman, playing dentist Walter Matthau...",movie

In [8]:
categ_cols = data_joined.select_dtypes(include='object')
numeric_cols = data_joined.select_dtypes(exclude='object')

In [9]:
numeric_cols.describe()

,timestamp,user_id,post_id,target,gender,age,exp_group
count,10000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,2021-11-14 13:27:22.027100160,117579.234800,3400.752700,0.105000,0.541300,23.660800,2.070900
min,2021-10-01 13:21:06,4844.000000,3.000000,0.000000,0.000000,14.000000,0.000000
25%,2021-10-22 16:15:10.249999872,118425.000000,1500.000000,0.000000,0.000000,19.000000,1.000000
50%,2021-11-14 14:00:53.500000,118431.000000,3193.000000,0.000000,1.000000,22.000000,2.000000
75%,2021-12-06 06:27:36.500000,118437.000000,5246.000000,0.000000,1.000000,25.000000,3.000000
max,2021-12-29 22:28:56,118442.000000,7319.000000,1.000000,1.000000,41.000000,4.000000
std,NaN,9800.402947,2115.895184,0.306569,0.498316,6.207173,1.397093

In [10]:
categ_cols.describe()

,action,country,city,os,source,text,topic
count,10000,10000,10000,10000,10000,10000,10000
unique,2,3,20,2,2,4640,7
top,view,Russia,Moscow,Android,organic,Fox attacks Blairs Tory lies\n\nTony Blair lie...,movie
freq,8950,9774,1323,6319,9925,14,3743

In [11]:
data_joined["month"] = data_joined["timestamp"].dt.month
data_joined["weekday"] = data_joined["timestamp"].dt.weekday
data_joined["hour"] = data_joined["timestamp"].dt.hour

In [12]:
data_joined = data_joined.drop('timestamp', axis=1)

In [13]:
data_copy = data_joined.copy()

In [14]:
data_copy.describe()

,user_id,post_id,target,gender,age,exp_group,month,weekday,hour
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000
mean,117579.234800,3400.752700,0.105000,0.541300,23.660800,2.070900,10.96370,3.020000,14.313100
std,9800.402947,2115.895184,0.306569,0.498316,6.207173,1.397093,0.82792,1.979493,4.999457
min,4844.000000,3.000000,0.000000,0.000000,14.000000,0.000000,10.00000,0.000000,6.000000
25%,118425.000000,1500.000000,0.000000,0.000000,19.000000,1.000000,10.00000,1.000000,10.000000
50%,118431.000000,3193.000000,0.000000,1.000000,22.000000,2.000000,11.00000,3.000000,14.000000
75%,118437.000000,5246.000000,0.000000,1.000000,25.000000,3.000000,12.00000,5.000000,19.000000
max,118442.000000,7319.000000,1.000000,1.000000,41.000000,4.000000,12.00000,6.000000,23.000000

In [17]:
catboost_model = CatBoostClassifier()